html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;  /*16px*/
  font-family: 'Open Sans', Verdana, sans-serif;
}

.promo__header{
  font-family: 'Poppins', Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}

.tools__header{
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

.tool__header{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.strategy__header{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.employee__header{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}