.button{
  @extend %font-primary;
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s;
  &_bordered{ //аналогично .button_bordered{}
    background: $color-light;
    border: 1px solid $color-border;
    color: $color-button-bordered;
    &:hover{ //вместо & подставляется родительский элемент
      background: $color-hovered;
      border-color: $color-hovered;
    }
  }
  &_colored{
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
    &:hover{
      background: $color-additional;
      border-color: $color-additional;
    }
  }
}

.link-button{
  color: $color-primary;
  @extend %font-add;
  @include font(1.6rem, 2.4rem, 600);
  display: inline-flex;
  align-items: center;
}

.link-button__text{
  margin-left: 9px;
}