.promo{
  padding: 30px 0 111px;
  overflow: hidden;
  @include media-tablet{
    padding: 0 0 78px;
  }
  @include media-mobile{
    padding: 12px 0 48px;
  }
}

.promo__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-mobile{
    flex-direction: column-reverse;
  }
}

.promo__content{
  padding-right: 65px;
  @include media-tablet{
    padding-right: 0;
  }
  @include media-mobile{
    text-align: center;
  }
}

.promo__header{
  margin: 0 0 30px;
  color: $color-header;
  @include media-tablet{
    margin: 0 0 26px;
  }
  @include media-mobile{
    margin: 0 0 9px;
  }
}

.promo__text{
  max-width: 487px;
  margin: 0 0 45px;
  @extend %font-add;
  @include font(1.8rem, 2.8rem, 400);
  @include media-tablet{
    width: 380px;
  }
  @include media-mobile{
    margin: 0 0 23px;
    width: auto;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;
  > * {
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }
  }
  @include media-tablet{
    >*{
      padding: 16px 40px;

      &:last-child{
        padding: 0;
      }
    }

  }
  @include media-mobile {
    flex-direction: column;
    > * {
      margin-right: 0;
      margin-bottom: 26px;
      padding: 16px 40px;

      &:last-child{
        margin-bottom: 0;
        padding: 0;
      }
    }
  }
}
.promo__image{
  @include media-mobile {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

